.topBarWrapper {
  min-height: 70px;
  width: 100%;
}

.topBarContainer {
  // height: 10rem;
  width: 100%;
  min-height: 70px;
  // line-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
  position: fixed;

  @media (max-width: 600px) {
    margin-bottom: 0;
    z-index: 100;
    background-color: var(--background);
  }
}

.topBarContainerSticky {
  z-index: 100;
  background-color: var(--background);
  box-shadow: 0 0 12px 10px var(--black-shadow);
}

.topBarLogo {
  a {
    opacity: 0.9;
    font-family: var(--logo-font);
    font-size: 2rem;
    -webkit-text-stroke: 0.5px var(--secondary-text);
    color: transparent;
    &:hover {
      opacity: 1;
      border: none;
    }
  }
}

.burger-icon {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  z-index: 10000;
  cursor: pointer;
  display: none;
  user-select: none;
  @media (max-width: 600px) {
    display: inline-block;
  }
  .navicon {
    background: var(--accent);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    &::before,&::after {
      background: var(--accent);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
    &::before {
      top: 5px;
    }
  
    &::after {
      top: -5px;
    }
  }
}
.burger-btn {
  display: none;
  &:checked {
    &~ .topBarNav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      top: 0;
      right: 0;
      width: 75vw;
      position: fixed;
      background-color: var(--background);
      box-shadow: -1px 0px 11px 2px var(--black-shadow);

      li {
        padding: 1rem 0;
      }
      
      a {
        margin: 0.5rem 0;
      }
    }
    &~ .burger-icon .navicon {
      background: transparent;
    }
    &~ .burger-icon .navicon:before {
      transform: rotate(-45deg);
    }
    &~ .burger-icon .navicon:after {
      transform: rotate(45deg);
    }
    &~ .burger-icon:not(.steps) .navicon:before,
    &~ .burger-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }
}

.topBarNav {
  display: flex;

  ul {
    display: flex;
    list-style: none;
    font-size: 0.9rem;

    li {
      margin: 0 1rem;

      a {
        color: var(--secondary-text);

        &::before {
          content: "#";
          margin-right: 0.3rem;
          color: var(--accent);
        }

        &:hover {
          color: var(--accent);
          border: none;
        }
      }
    }
  }

  @media (max-width: 600px) {
    width: 100%;
    display: none;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      li {
        text-align: center;
        padding: 0.3rem;
        width: 100%;
      }
    }
  }
}