@import './mixins.scss';

html:root {
  --white: #eddbff;
  --background: #0D0217;
  --primary-text: #A17BC3;
  --accent: #9632F1;
  --accent-dark: #1F003A;
  --accent-light: #7440a9;
  --surface: #23043e;
  
  --black-shadow: rgba(0, 0, 0, 0.25);
  --selection-background: #eddbff2f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  font-size: 16px;
  background-color: var(--background);
  color: var(--primary-text);
}

::selection {
  background: var(--selection-background);
}
::-moz-selection { /* Code for Firefox */
  background: var(--selection-background);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--accent-light);
}

a {
  @include linkBase;

  &:hover {
    border-bottom: 1px solid var(--accent);
  }
}

* {
  box-sizing: border-box;
}

.logo {
  font-weight: bold;
}

.section {
  padding: 4rem 0;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    color: var(--white);
    // background: -webkit-linear-gradient(to top, var(--accent) 0%, var(--white) 70%);
    // background: -moz-linear-gradient(to top, var(--accent) 0%, var(--white) 70%);
    // background: linear-gradient(to top, var(--accent) 0%, var(--white) 70%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

  }
}