@mixin linkBase {
    color: var(--accent);
    text-decoration: none;
}

@mixin linkButton {
    display: inline-block;
    color: var(--accent);
    padding: 1rem;
    text-decoration: none;
    border: 1px solid var(--accent);
    border-radius: 5px;

    &:hover {
      background-color: var(--accent-dark);
    }
}

@mixin listItem {
  padding-top: 1rem;
  padding-left: 2rem;
  position: relative;
  
  &::before {
    position: absolute;
    content: "\2022";
    display: inline-block;
    color: var(--accent);
    left: 0px;
    // margin-left: -1rem;
    // width: rem;
  }
}

@mixin buttonTransparent {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
}