@import '../../styles/mixins.scss';

.contactContainer {
  width: 65%;
  margin: 0 auto;
  text-align: center;

  a {
    @include linkButton;
    margin: 0 auto;
    margin-top: 2rem;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}