@import '../../styles/mixins.scss';

.langSwitchContainer {
  display: flex;
  margin-left: 2rem;
  
  button {
    @include buttonTransparent;
    opacity: 0.6;
    font-size: 0.7rem;

    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 600px) {
    margin: 0;
    margin-top: 2rem;
    button {
      font-size: 1rem;
    }
  }
}

.current {
  opacity: 0.8 !important;
}