.section {
  padding: 4rem 0;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    color: var(--white);
    // background: -webkit-linear-gradient(to top, var(--accent) 0%, var(--white) 70%);
    // background: -moz-linear-gradient(to top, var(--accent) 0%, var(--white) 70%);
    // background: linear-gradient(to top, var(--accent) 0%, var(--white) 70%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}