@import '../../styles/mixins.scss';

.themeSwitchContainer {
  display: flex;
  margin-left: 2rem;
  
  button {
    @include buttonTransparent;
    font-size: 0.7rem;
    opacity: 1;

    &:hover {
      svg {
        opacity: 1;
      }
    }

    svg {
      height: 50%;
      max-height: 22px;
      opacity: 0.5;

      path {
        fill: var(--secondary-text);
      }
    }
  }

  @media (max-width: 600px) {
    margin: 0;
    button {
      font-size: 2.5rem;
      padding: 0;
    }
  }
}

.current {
  opacity: 0.6 !important;
}