.aboutMeContainer {
  // border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.aboutMeShort {
  // border: 1px solid var(--border-color);
  width: 40%;
  min-width: 300px;
  p {
    margin: 0.2rem 0;
  }
}

.aboutMeLong {
  // border: 1px solid var(--border-color);
  margin-top: 2rem;
}
