.aboutMeContainer {

  h1 {
    margin: 0;
  }
  
  h2 {
    margin: 0.5rem 0 2rem 0;
    font-size: 1.8rem;
    opacity: 0.6;
  }
  
  h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  
  p {
    // width: 50%;
  }
}
